# Definition of the community standard for skyglow observations 1.0
# URL: http://www.darksky.org/NSBM/sdf1.0.pdf
# Number of header lines: 35
# This data is released under the following license: ODbL 1.0 http://opendatacommons.org/licenses/odbl/summary/
# Device type: {{ instrument.model }}
# Instrument ID: {{ instrument.name }}
# Data supplier: {{ observer.name }} / {{ observer.organization }}
# Location name: {{ location.location }}/{{ location.province }}/{{ location.country }} - {{ location.site }}
# Position: {{ location.latitude }}, {{ location.longitude }}, {{ location.elevation }}
# Local timezone: {{ location.timezone }}
# Time Synchronization: timestamp added by MQTT subscriber
# Moving / Stationary position: STATIONARY
# Moving / Fixed look direction: FIXED
# Number of channels: 1
# Filters per channel: {{ instrument.filter[0] }}
# Measurement direction per channel: {{ instrument.azimuth[0] }}, {{ 90.0 - instrument.altitude[0] }}
# Field of view: {{ instrument.fov }}
# Number of fields per line: 7
# TESS MAC address: {{ instrument.mac_address }} (Current)
# TESS firmware version: {{ instrument.firmware }}
# TESS cover offset value: {{ instrument.cover_offset }}
# TESS zero point (latest):  {{ instrument.zero_point[0] }}
# Comment: {% if instrument.zero_point[0] == 20.50 %}This photometer has not been calibrated{% endif %}
# Comment: {% if len(instrument.zero_point) > 1 %}ZP changes: {{instrument.zero_point | join(',')}} {% endif %} 
# Comment: {% if len(instrument.mac_address) > 1 %}MAC changes: {{instrument.mac_address|join(',')}} {% endif %}
# Comment: {% if len(instrument.filter) > 1 %}Filter changes: {{instrument.filter} | join(',')} {% endif %}
# Comment: {% if len(instrument.azimuth) > 1 %}Azimuth changes: {{instrument.azimuth | join(',')}} {% endif %}
# Comment: {% if len(instrument.altitude) > 1 %}Altitude changes: {{instrument.altitude | join(',')}} {% endif %}
# Comment: MSAS = ZP - 2.5*log10(Frequency)
# blank line 30
# blank line 31
# blank line 32
# UTC Date & Time, Local Date & Time, Enclosure Temperature, Sky Temperature, Frequency, MSAS, ZP
# YYYY-MM-DDTHH:mm:ss.fff;YYYY-MM-DDTHH:mm:ss.fff;Celsius;Celsius;Hz;mag/arcsec^2;mag/arcsec^2
# END OF HEADER

